@{
    ViewData["Title"] = "Cliente";
}
<div class="row">
    <div class="col-md-4">

        <h1 class="display-4">Cliente</h1><br>

        <form  asp-controller="Cliente" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group text-left">
                <label for="razonsocial" class="control-label">razon social</label>
                <input for="razonsocial" class="form-control"> 
                <span validation-for="razonsocial" class="text-danger"></span>
            </div><br>

            <div class="form-group text-left">
                <label for="dni" class="control-label">dni</label>
                <input for="dni" class="form-control"> 
                <span validation-for="dni" class="text-danger"></span>
            </div><br>

            <div class="form-group text-left">
                <label for="direccion" class="control-label">direccion</label>
                <input for="direccion" class="form-control"> 
                <span validation-for="direccion" class="text-danger"></span>
            </div><br>

            <div class="form-group text-left">
                <label for="telefono" class="control-label">telefono</label>
                <input for="telefono" class="form-control"> 
                <span validation-for="telefono" class="text-danger"></span>
            </div><br>
            
            <div class="form-group text-left">
                <label for="correo" class="control-label">correo</label>
                <input for="correo" class="form-control"> 
                <span validation-for="correo" class="text-danger"></span>
            </div><br>

            <div class="form-group">
                <button class="btn btn-primary">Enviar</button>
            </div><br>
        </form>
    </div>
</div>